.App {
  background: #f0f8ff;
  padding: 20px;
}

.App-header {
  text-align: right;
}

.ImportButton {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.ImportedData {
  margin-top: 20px;
  text-align: left;
}