.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ProjectTitle {
  margin: 20px;
}

.ImportButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.ImportedData {
  margin-top: 20px;
}

.SleepScoreBox {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.SleepScore {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Recommendation {
  font-size: 16px;
}

.GraphContainer {
  margin-bottom: 20px;
}
