.App {
  background: #f0f8ff;
  padding: 20px;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ProjectTitle {
  margin: 10px;
}

.ImportButton {
  font-size: 1.2em;
  margin-top: 5px;
}

.ImportedData {
  margin-top: 20px;
  text-align: left;
}